* {
    box-sizing: border-box;
}

body {
    background-image: url(../../assets/bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

button {
    border: 1px solid #2600ff;
    background-color: #2600ff;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    border-radius: 10px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 100px 150px;
    height: 100%;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.rightside {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.rightside h1 {
    text-align: center;
}

.rightside a {
    text-align: right;
    max-width: 50%;
    float: right;
}

.rightside h5 {
    width: 50%;
    margin-bottom: 0px;
}

.leftside {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    text-align: center;
    padding: 1rem;
    margin-left: -145px;
    margin-top: 0px;
    color: rgb(199, 64, 15);
    font-family: 'Montserrat', sans-serif;
}